<h1><%= t('labels.title_projects') %></h1>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th><%= @projects.human_attribute_name(:description) %></th>
        <th><%= @projects.human_attribute_name(:start_date) %></th>
        <th><%= @projects.human_attribute_name(:end_date) %></th>
        <th><%= t('labels.days_remaining') %></th>
        <th><%= t('labels.complete') %></th>
        <th><%= t('labels.will_delay') %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= project.description %></td>
          <td><%= l(project.start_date) %></td>
          <td><%= l(project.end_date) %></td>
          <%= days_remaining(project.end_date) %>
          <td style="text-align: center;" ><%= complete(project.activities.count, project.activities.where(finished: true).count) %>% </td>
          <%= date_finish(project.activities.maximum('end_date'), project.end_date) %>
          <td><%= link_to t('links.show'), project, class:"btn btn-success" %></td>
          <td><%= link_to t('links.edit'), edit_project_path(project), class:"btn btn-info" %></td>
          <td><%= link_to t('links.delete'), project, class:"btn btn-danger", method: :delete, data: { confirm: t('labels.alert_delete') } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br><br>

<%= link_to t('links.new_pro'), new_project_path, class:"btn btn-primary" %>
<%= link_to t('links.new_act'), new_activity_path, class:"btn btn-primary" %>