<p id="notice"><%= notice %></p>

<h1><%= t('labels.title_activity') %></h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= @activities.human_attribute_name(:description) %></th>
      <th><%= @activities.human_attribute_name(:start_date) %></th>
      <th><%= @activities.human_attribute_name(:end_date) %></th>
      <th><%= @activities.human_attribute_name(:finished) %></th>
      <th><%= @activities.human_attribute_name(:project_id) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.description %></td>
        <td><%= l(activity.start_date) %></td>
        <td><%= l(activity.end_date) %></td>
        <% if activity.finished %>
          <td class="alert alert-success" role="alert">
            <%= t('labels.finished') %>
        <% else %>
          <td class="alert alert-danger" role="alert">
            <%= t('labels.not_finished') %>
        <% end %>
        </td>        
        <td><%= activity.project.description %></td>
        <td><%= link_to t('links.show'), activity, class:"btn btn-success" %></td>
        <td><%= link_to t('links.edit'), edit_activity_path(activity), class:"btn btn-info" %></td>
        <td><%= link_to t('links.delete'), activity, class:"btn btn-danger", method: :delete, data: { confirm: t('labels.alert_delete') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('links.new_act'), new_activity_path, class:"btn btn-primary" %>
